
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.registration {
    display: flex;
    flex-direction: row;
    width: 600px;
    box-shadow: 0 0 30px black;
    border-radius: 4px;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.registration h2 {
    width: 100%;
    text-align: center;
    margin: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    box-shadow: 0 0 30px #000;
    border-radius: 4px;
}

.login input {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}

.login h2 {
    margin: 10px;
}

.img-div {
    width: 200px;
    margin: 0 auto;
    height: 150px;
    position: relative;
    margin-bottom: 20px;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
}

.info input {
    margin: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.skills {
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-around;
}

.skills h4 {
    text-align: center;
    width: 100%;
}

.language {
    width: 100px;
    margin: 5px;
    display: inline-block;
}

.arrows span{
  display: inline-block;
  margin: 15px;
  padding: 8px 12px;
  background: red;
  color:#ffffff;
  cursor: pointer;
  border-radius: 4px;
}


/*Tests styles*/

.container-fluid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 177px;
}

.searchingSelect {
    width: 292px;
    max-width: 100%;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4F9DA6;
    border-radius: 4px;
    outline: none;
    margin: 0px 16px 10px 0px;
}

.search {
    width: 480px;
    max-width: 100%;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #4F9DA6;
    border-radius: 4px;
    outline: none;
    margin: 0px 0px 10px 0px;
}

.searching span{
    float: right;
    margin: 16px 20px;
    color: #100529;
    font-size: 20px;
    display: block;
}

.content-grid{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
}

.content-grid .grid{
    width: 276px;
    margin: 15px 0;
}

.grid img{
    width: 100%;
}

.grid-info{
    padding: 5px;
    box-sizing: border-box;
}

.grid-info p{
    font-size: 16px;
    margin: 8px 0;
}

.blue{
    color: #4F9DA6;
}

.yellow{
    color: #FFAD5A;
}

.addButton{
    display: inline-block;
    float: right;
    width: 100px;
    height: 44px;
    box-sizing: border-box;
    background: #FF5959;
    box-shadow: 0px 3px 6px #000000;
    border: none;
    padding: 7px 10px;
    margin-top: 20px;
}

.addButton span{
    font-size: 20px;
    color: #FFFFFF;

}

.add{
    margin: 0 0 0 20px;
}

.viewMore{
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    height: 44px;
    background: #4F9DA6;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color: #FFFFFF;

}


.pagination{
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
}

.paginationContent{
    width: 614px;
    margin: 0 auto; 
    height: 32px;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.paginationContent > span{
    text-decoration: underline;
    color: #4F9DA6;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.pages{
    width: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pages ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -8px;
}

.pages ul li{
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #100529;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    margin: 2px;
}

.pages ul li:hover{
    background: #E7E7E7;
}

@media screen and (max-width: 570px){
   .content-grid{
        display: flex;
        justify-content: space-around;
    }
}

















